.middle-content{
 width: 761px;
}

.header-content{
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input{
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: 500;
    width: 272px;
    height: 40px;
    padding-left: 10px;
}
.btn-search{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.icon-search{
    width: 24px;
    height: 24px;
}

.create-post{
    padding: 16px 15px;
    width: 100%;
    height: 70px;
    background-color: #F7F7F7;
    border: 1px solid #DEDEDE;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 17px;
    margin: 20px 0px;
}
.icon-small{
    width: 38px;
    height: 38px;
}

.create-post-input{
    height: 30px;
    width: 100%;
    border: none;
    background-color: #F7F7F7;
    
}

.btn-create-post{
    width: 157px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    background-color: #F4B000;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    letter-spacing: -0.4%;
    margin-left: 10px;
}

.header-label{
    font-size: 16px;
    font-weight: 600;
}
.card-post-image{
    border-radius: 15px;
    border: 1px solid #DEDEDE;
    padding: 15px;
}
.card-post-header{
    display: flex;
    justify-content: left;
}

.header-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.acc-name{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.account{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.acc-network{
    display: inline;
}

.post-tag{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #464B53;
}
.post-tag-nobullet{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #464B53;
}
.post-tag1{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #9B51E0;
}
.post-tag::before{
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #464B53;
    margin: 0px 5px;
}

.card-post-content{
    width: 100%;
}

.post-caption{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 0px 5px;
    margin-top: 20px;
}

.media{
    width: 100%;
}

.media-img{
    width: 100%;
}

.card-post-toolbar{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 38px;
    border:1px solid #DEDEDE;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

.toolbar{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.toolbar-status{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}



.status-count{
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
}

.share{
    font-size: 14px;
    font-weight: 600;
}

.btn-like-active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #1EB25D;
    height: 28px;
    width: 68px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    background-color: transparent;
}

.btn-like-status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    background-color: transparent;
}

.btn-comment-active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #5D7189;
    height: 28px;
    width: 113px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    background-color: transparent;
}

.btn-share-active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #F4B000;
    height: 28px;
    width: 82px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    background-color: transparent;
}

.btn-share{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    width: 82px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    background-color: transparent;
}

.btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.btn-icon-active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.card-post{
    border-radius: 15px;
    border: 1px solid #DEDEDE;
    padding: 15px;
    margin-top: 10px;
}

.container-post{
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 20px;
}

.container-post::-webkit-scrollbar{
    display: none;
}

.card-post-series{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #F4F9FF;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid #DEDEDE;
}

.header-series{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: 13px;
    margin-bottom: 10px;
    margin: 0px 15px;
}

.btn-link-blue{
    font-size: 14px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #277DF1;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.btn-link-yellow{
    font-size: 14px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #EF9E00;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.btn-arrow-b{
    border: none;
    background-color: transparent;
}

.card-shared-post{
    transform: translateY(310px);
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #FFF9E3;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid #DEDEDE;
}

.header-shared-post{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: 13px;
    margin-bottom: 10px;
    margin: 0px 15px;
}

.card-indicator{
    border: 1px solid #DEDEDE;
    content: "";
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: -100px;
    border-radius: 10px;
}


