.resgister-step{
    width: 60%;
    margin: 0% auto 0% auto;
}

.register-step-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-step-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    margin-bottom: 2%;
}

.progress-bar{
    width:80px;
    height: 10px;
    background-color: #EAEAEA !important;
    border-radius: 10px;
}
.progress-bar-inner{
    content: "";
        width: 20px;
        height: 10px;
        background-color: #FFC914;
        border-radius: 10px;
}

.pager{
    display: flex;
    justify-content: center;
    width: 47px;
    height: 26px;
    font-size: 17px;
    font-weight: 600;
}

.pager-count{
    padding-right: 5px;
}

.btn-back{
    width: 50px;
    height: 42px;
    border: 0px;
    background-color: transparent;
}

.header-title{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    font-family: 'Poppins', sans-serif !important;
}

.header-title-yellow{
    color: #FFB800;
    font-weight: 600;
    font-size: 35px;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 5%;
}

.account-type-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.card-icon{
      padding: 0% 2% 0% 2%;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      width: 440px;
      max-width: 440px;
      height: 100%;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-icon-active{
    border: 2px solid #FFB800;
    position: relative;
}

.card-icon-active::before{
    position: absolute;
    content: "SELECTED";
    background-color: #FFB800;
    border-radius: 5px;
    width: 81px;
    height: 24px;
    font-size: 13px;
    font-weight:bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -13px;
    left: 40px;
}

.card-icon-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 0% 5%;
    font-size: 24px;
    font-weight: 600;
    width: 90%;
    text-align: left;
}


.card-icon-img{
    margin-left: 15%;
    width: 86px;
    height: 86px;
    transform: translateY(-35px);
}

.card-image{
    width: 100%;
    height: 100%;
}

.card-icon-content{
    margin: 0% 5% 0% 5%;
    width: 90%;
    height: 100%;
}

.card-icon-content p{
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.btn-create{
    width: 322px;
    height: 56px;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5%;
}

.country-tel-code{
    width: 99px;
    height: 56px;
    background-color: #F4F4F4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-tel-code span{
    font-size: 20px;
    font-weight: 500;
}

.input-tel{
    width: 212px;
    height: 56px;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 0% 4% 0% 4%;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.input-auth-code{
    height: 56px;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding-left: 4%;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.46em;
}
.authentication-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telephone-container h6{
    text-align: center;
    margin-bottom: 5%;
}

.telephone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.input-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.code-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.code-container h6{
    text-align: center;
    margin-bottom: 5%;
}

.get-code{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #277DF1;
    margin-top: 5%;
}

.email-instead{
    font-size: 16px;
    font-weight: 500;
}

.btn-yellow{
    background-color: #FFF9E3;
    width: 100%;
    height: 56px;
    text-align: center;
    color: #FFC914;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    margin: 2% 0% 5% 0%;
}

.varify-container{
    margin: 40% 0% 20% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step2-header-title{
    display: flex;
    flex-direction: row;
  
}

.form-info{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-label{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2%;
}
.custom-input{
    width: 100%;
    height: 56px;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: none;
    padding: 0% 5% 0% 5%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3%;
}

.custom-textarea{
    background-color: #F4F4F4;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3%;
    padding: 3% 5% 0% 5%;
}

.review-details{
    display: flex;    
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-field{
    position: relative;
    width: 100%;
    border: 1px solid #D4D4D4;
    color: black;
    border-radius: 10px;
    padding: 16px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 26px;
}

.info-field::before{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    
    font-size: 12px;
    color: white;
    
    height: 20px;
    padding: 5px 7px;
    background-color: #FFB800;
    border-radius: 4px;
    top: -11px;
    left: 15px;
}
.divider {
    border-top: 2px dashed #D4D4D4;;
    width: 95%;
  }

.header-label{
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.referal-code{
    content: " ";
    width: 100%;
    height: 56px;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.setup-pin{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-eye{
  width: 30%;
  max-width: 375px;
  min-width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}




.custom-input2{
 width: 100%;
 height: 56px;
 background-color: #F4F4F4;
 border-radius: 10px;
 border: none;
 
}

.custom-input2:focus{
    outline: none;
}

.custom-input2[type="password"]{
    font-size: xx-large;
    text-decoration: dotted;
    letter-spacing: 3px;
    padding: 0% 4%;
   }
.custom-input2[type="text"]{
    font-size: 15px;
    
    padding: 0% 4%;
}
.label{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 3% 0%;
    text-align: left !important;
}

.btn-eye{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 0px 10px 10px 0px;
    padding-right: 14px;
}

.pin-match{
  margin-right: 20%;
}

.network-details{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-activation{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-ups{
    border: 1px solid black !important;
    border-radius: 12px !important;
}

.check-middlename[type="checkbox"]{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block; 
    height: 18px;
    width: 18px;
    padding: 2px;
    border: 1px solid #FFC914;
    border-radius: 4.15385px;
    margin-right: 4px;
  }
  
  .checkbox--active {
    background: #FFC914;
  }
 

  .loader-con{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-txt{
    margin-left: 10px;
    width: 270px;;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    overflow: hidden;
  }

  .loader-item{
   
    width: 100%;
    line-height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    animation: txt 3s linear infinite;
    
  }

  @keyframes txt {
    0% {
      transform: translateY(0);
    }
    10%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-35px);
    }
    50%{
        transform: translateY(-35px);
    }
    60%{
        transform: translateY(-35px);
    }
    70%{
        transform: translateY(-35px);
    }
    80%{
        transform: translateY(-73px);
    }
    90%{
        transform: translateY(-73px);
    }
    100% {
      transform: translateY(-73px);
    }
  }

  .img-success{
    width: 350.79px;
    height: 298.65px;
  }

  .btn-black{
    background-color: black;
    color: white;
    padding: 13px 35px;
    border-radius: 12px;
    margin: 30% 0%;
  }

.success-screen{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.show{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  @keyframes rotate {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}

.spinner {
    animation: rotate 1s linear infinite;
    background: #FFB800;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    position: relative;
}

.spinner::before,
.spinner::after {
    content: '';
    position: absolute;
}

.spinner::before {
    border-radius: 50%;
    background:
        linear-gradient(0deg,   hsla(0, 0%, 100%, 1  ) 50%, hsla(0, 0%, 100%, 0.9) 100%)   0%   0%,
        linear-gradient(90deg,  hsla(0, 0%, 100%, 0.9)  0%, hsla(0, 0%, 100%, 0.6) 100%) 100%   0%,
        linear-gradient(180deg, hsla(0, 0%, 100%, 0.6)  0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
        linear-gradient(360deg, hsla(0, 0%, 100%, 0.3)  0%, hsla(0, 0%, 100%, 0  ) 100%)   0% 100%
    ;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.spinner::after {
    background: white;
    border-radius: 50%;
    top: 18%;
    bottom: 18%;
    left: 18%;
    right: 18%;
}